@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--background: #151212;
	--text-primary: #ededed;
	--text-primary-dark: #929292;
}

@layer base {
	body {
		color: var(--text-primary);
		background-color: var(--background);
	}
}

@layer utilities {
	.background-pattern {
		background-image: radial-gradient(#232323 1.5px, transparent 1.5px);
		background-size: 64px 64px;
		background-color: var(--background);
	}

	.center-text {
		@apply translate-y-[1px];
	}
}
