@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: hsl(0, 8%, 8%);
  --accent: hsla(29, 97%, 56%, 0.9);
  --primary: hsla(0, 0%, 0%, 0.4);
  --text-primary: hsl(0, 0%, 93%);
  --text-primary-dark: hsl(0, 0%, 57%);
  --text-secondary: hsl(0, 0%, 4%);
  --border-primary: hsla(0, 0%, 36%, 0.38);
  --border-secondary: hsla(0, 0%, 36%, 0.78);
  --border-accent: hsla(29, 97%, 56%, 0.9);
}

@layer base {
  body {
    color: var(--text-primary);
    background-color: var(--background);
  }

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

@layer utilities {
  /* Background pattern for homescreen */
  .background-pattern {
    background-image: radial-gradient(#232323 1.5px, transparent 1.5px);
    background-size: 64px 64px;
    background-color: var(--background);
  }

  /* Center utility for clash font */
  .center-text {
    @apply translate-y-[1.5px];
  }

  /* Custom Scollbar */
  .scrollbar-slim::-webkit-scrollbar {
    width: 4px;
  }
  .scrollbar-slim::-webkit-scrollbar-track {
    background: transparent;
  }
  .scrollbar-slim::-webkit-scrollbar-thumb {
    background-color: hsla(0, 0%, 100%, 0.274);
    border-radius: 99px;
    /* border: 1px solid transparent;  */
    background-clip: padding-box;
  }
  .scrollbar-slim::-webkit-scrollbar-button {
    display: none;
  }
}
