@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--background: #151212;
	--text-primary: #ededed;
	--text-primary-dark: #929292;
	--text-secondary: #0b0b0b;
	--border-primary: rgba(91, 91, 91, 0.38);
}

@layer base {
	body {
		color: var(--text-primary);
		background-color: var(--background);
	}

	input[type='number']::-webkit-inner-spin-button,
	input[type='number']::-webkit-outer-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}
}

@layer utilities {
	/* Background pattern for homescreen */
	.background-pattern {
		background-image: radial-gradient(#232323 1.5px, transparent 1.5px);
		background-size: 64px 64px;
		background-color: var(--background);
	}

	/* Center utility for clash font */
	.center-text {
		@apply translate-y-[1.5px];
	}

	/* Custom Scollbar */
	.scrollbar-slim::-webkit-scrollbar {
		width: 4px;
	}
	.scrollbar-slim::-webkit-scrollbar-track {
		background: transparent;
	}
	.scrollbar-slim::-webkit-scrollbar-thumb {
		background-color: hsla(0, 0%, 100%, 0.274);
		border-radius: 99px;
		/* border: 1px solid transparent;  */
		background-clip: padding-box;
	}
	.scrollbar-slim::-webkit-scrollbar-button {
		display: none;
	}
}
