@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: hsla(0, 0%, 0%, 0.4);
  --secondary: hsla(0, 0%, 100%, 0.9);
  --accent: hsla(29, 97%, 56%, 0.9);
  --text-primary: hsl(0, 0%, 100%);
  --text-primary-dark: hsl(0, 1%, 65%);
  --text-primary-light: hsl(0, 0%, 61%);
  --text-secondary: hsl(0, 0%, 0%);
  --border-primary: hsla(0, 0%, 46%, 0.226);
  --border-secondary: hsla(0, 0%, 71%, 0.678);
  --border-accent: hsla(27, 100%, 66%, 0.445);
}

body {
  color: var(--text-primary);
  background-color: rgb(8, 8, 8);
  font-family: Arial, Helvetica, sans-serif;
}

/* #all-page {
  background-image: url('../public/images/misc/background1.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#single-page {
  background-image: url('../public/images/misc/background2.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
} */

@layer base {
  input[type='number']::-webkit-outer-spin-button,
  input[type='number']::-webkit-inner-spin-button,
  input[type='number'] {
    -webkit-appearance: none;
    margin: 0;
    -moz-appearance: textfield !important;
  }
}

@layer utilities {
  .center-text {
    @apply transform translate-y-0.5;
  }

  .scrollbar-slim::-webkit-scrollbar {
    width: 4px;
  }

  .scrollbar-slim::-webkit-scrollbar-track {
    background: transparent;
  }

  .scrollbar-slim::-webkit-scrollbar-thumb {
    background-color: hsla(0, 0%, 100%, 0.274);
    border-radius: 99px;
    /* border: 1px solid transparent;  */
    background-clip: padding-box;
  }

  .scrollbar-slim::-webkit-scrollbar-button {
    display: none;
  }

  .halftone {
    background-image: radial-gradient(#1f1f1f 1.5px, transparent 1.5px);
    background-size: 64px 64px;
    background-color: #131111;
  }

  .thumb-none input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 0; /* Hide the thumb */
    height: 0;
  }

  .thumb-none input[type='range']::-moz-range-thumb {
    width: 0; /* Hide the thumb */
    height: 0;
    opacity: 0;
  }

  .thumb-none input[type='range']::-ms-thumb {
    width: 0; /* Hide the thumb */
    height: 0;
    opacity: 0;
  }
}
